body, html {
  background-color: #c5add4;
  font-family: Helvetica;
  margin: 0 auto;
  text-align: center;
}

body ul {
  padding: 0;
}

body ul li {
  list-style-type: none;
  display: inline;
  padding: 20px;
}

body a {
  text-decoration: none;
  position: relative;
}

.container {
  background: white;
  border: 1px solid black;
  width: 300px;
  min-height: 200px;
  margin: 15% auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

.container h1 {
  text-align: center;
}
